<main>
  {{{buttonBack}}}
  <div class="profile__wrapper">
    <div class="profile">
      {{{avatar}}}
      <form action="#">
        <ul class="profile-list profile-edit">
          {{#each fields}}
            <li>
              {{{this}}}
            </li>
          {{/each}}
        </ul>
        <div class="profile-action">
          {{{saveBtn}}}
        </div>
      </form>

    </div>
  </div>
</main>
