.overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 9000;
  background-color: rgba(#000, $alpha: 0.7);
  display: flex;

  &-wrapper {
    margin: auto;
    text-align: center;
    padding: 2.5rem 1.875rem;
    background-color: var(--clr-white);
    border-radius: 12px;
    width: 21.25rem;
  }

  &__caption {
    font-size: 0.9375rem;
    margin-bottom: 2.6875rem;
  }

  label {
    display: inline-block;
    margin-bottom: 2.8125rem;
    font-size: 0.75rem;
    color: var(--clr-link);
    cursor: pointer;
  }
  input[type="file"] {
    display: none;
  }
}

.hide {
  display: none;
}

.file__overlay label {
  max-width: 7.62rem;
}
