.profile-list {
  margin-top: 3.75rem;
  list-style: none;

  &__item {
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--clr-border);
  }

  &__item-name {
    flex-basis: fit-content;
  }

  &__item-warning a {
    color: var(--clr-red);
  }

  &__item-value {
    color: var(--clr-profile-value);
  }

  &__input {
    flex: 1;
    border: none;
    text-align: right;
    outline: none;
    &:focus {
      font-weight: 500;
    }
  }
}

.profile-edit {
  label {
    cursor: pointer;
  }
}

.profile-action {
  text-align: center;
  .save-info {
    margin-top: 3.75rem;
  }
  .save-pswd {
    margin-top: 10.125rem;
  }
}
