.button {
  all: unset;
  cursor: pointer;
  font-size: 0.8125rem;
  font-weight: 500;
  color: var(--clr-white);
  border-radius: 0.5rem;
  background-color: var(--clr-bg-button);
  width: 17.5rem;
  height: 2.3125rem;
  text-align: center;
}

.arrow-button {
  margin: auto;
  width: 1.75rem;
  height: 1.75rem;
  background-color: var(--clr-bg-button);
  border-radius: 50%;
  position: relative;

  &::before {
    content: "";
    width: 11px;
    height: 2px;
    background-color: var(--clr-white);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }

  &::after {
    content: "";
    width: 9px;
    height: 9px;
    border-bottom: 2px solid var(--clr-white);
    border-left: 2px solid var(--clr-white);
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%) rotate(45deg);
  }
}
