.show-profile {
  &__btn {
    all: unset;
    margin-top: 0.5rem;
    cursor: pointer;
    width: 100%;
    text-align: right;
    margin-right: 0;
    text-decoration: none;

    &::after {
      content: " 〉";
    }
  }
}

.channels {
  flex: 1;
  display: flex;
  flex-direction: column;

  &-search {
    margin-top: 1.5rem;
  }

  &__list {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 0.875rem;
    border-top: 1px solid var(--clr-border);

    .addBtn {
      margin-top: auto;
      background: var(--clr-bg-search-input);
      color: var(--clr-chat-text);
      margin-bottom: 12px;
    }
  }
}

.left-side__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
