<div class="overlay file__overlay">
  <div class="overlay-wrapper">
    <h4 class="overlay__caption">Загрузите файл</h4>
    <label for="file-upload">Выбрать файл на компьютере</label>
    <div class="fileLoad__error">{{error}}</div>
    {{{fileInput}}}
    <div class="fileLoad__buttons">
      {{{buttonEsc}}}
      {{{buttonOk}}}
    </div>
  </div>
</div>
