.messanger-wrapper {
  display: flex;
  min-height: 100vh;
  font-size: 12px;
  color: var(--clr-chat-text);

  .left-side {
    padding: 0.625rem;
    flex: 0;
    min-width: 19rem;
    background-color: var(--clr-bg-chat-list);
  }

  .right-side {
    flex: 1 0 0;
  }
}
