<main class="messanger-wrapper">
  {{#each overlays}}
    {{{this}}}
  {{/each}}
  <section class="left-side">
    {{{chatList}}}
  </section>
  <section class="right-side">
    {{{currentChat}}}
  </section>
</main>
