.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  &__wrapper {
    min-height: 100vh;
    display: flex;
  }

  &__code {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
  }

  &__text {
    font-size: 1.25rem;
    margin-bottom: 4rem;
  }

  &__link {
    font-size: 0.6875rem;
    text-decoration: none;
  }
}
