<div class="error__wrapper">
    <div class="error">
      <h1 class="error__code">{{code}}</h1>
      <span class="error__text">{{text}}</span>
      <a class="error__link" href="#" onclick="renderPage('chat')">{{linkText}}</a>
    </div>
  </div>