*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  text-rendering: optimizespeed;
  line-height: 1.5;
  font-family: var(--font-main);
  font-weight: 500;
  color: var(--clr-text);
}

h1,
h2,
h3,
h4 {
  color: var(--clr-text);
}

a {
  text-decoration: none;
  color: var(--clr-link);
  cursor: pointer;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

button {
  all: unset;
  cursor: pointer;
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 9000;
  background-color: rgba(#000, $alpha: 0.7);
  display: flex;
  top: 0;
  left: 0;

  &-wrapper {
    margin: auto;
    text-align: center;
    padding: 2.5rem 1.875rem;
    background-color: var(--clr-white);
    border-radius: 12px;
    width: 21.25rem;
  }

  &__caption {
    font-size: 0.9375rem;
    margin-bottom: 2.6875rem;
  }

  input[type="file"] {
    display: none;
  }
}

.hide {
  display: none;
  visibility: hidden;
}

.file__overlay label {
  max-width: 7.62rem;
}
