<main>
{{>overlayFile}}
<button onclick="renderPage('chat')" class="profile__btn-back">
  <div class="arrow-button"></div>
</button>
<div class="profile__wrapper">
  <div class="profile">
    <div class="profile__avatar-block">
      <div class="profile__avatar">
        <img src='{{imgs.avatar}}' alt="аватар пользователя" />
        <button
          class="profile__btn-change"
          onClick="let overlay = document.querySelector('.overlay');
                 overlay.classList.toggle('hide');"
        >
          <span>Поменять аватар</span>
        </button>
      </div>
      {{#if name}}
        <h1>{{name}}</h1>
      {{/if}}
      
    </div>
    {{#if show}}
      {{>profileShow data=userData}}
    {{/if}}
    {{#if edit}}
      {{>profileEdit data=userData}}
    {{/if}}
    {{#if pswd}}
      {{>profilePswd data=password}}
    {{/if}}
  </div>
</div>
</main>
